.DailyWorkoutTable {
    position: relative;
    margin: auto;
    margin-top: 50px;
    width: fit-content;
    padding: 20px;
    text-align: left;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
}

.tabledata {
    background-color: rgb(219, 219, 219);
    border-radius: 16px;
}

td {
    padding: 10px;
    text-align: center;
}

th {
    padding: 10px;
    text-align: center;
    
}

.dailyWorkoutTitle, .date {
    color: white;
    font-size: 40px;
}

.date {
    color: white;
    font-size: 30px;
}

.titleAndDate {
    position: relative;
    background-color: #242424;
    margin: auto;
    padding: 20px;
    text-align: center;
}


.sets, .reps, .weight {
    width: 60px;
}
.notes {
    width: 250px
}


.exercisename {
    margin: auto;
    width: 230px;
    text-align: left;
}
.exerciseequipment, .exerciseid, .exercisetarget {
    margin: auto;
    width: 150px;
}


.thName {
    width: 250px;
}
.thId, .thTarget, .thEquipment {
    width: 150px;
}
.thSets, .thReps, .thWeight {
    width: 80px;
}
.thNotes {
    width: 250px;
}


.updateExercise, .deleteExercise {
    margin: 5px;
}