.SearchBar {
  margin-bottom: 20px;
  margin-top: 20px;
}

.searchButton {
  padding: 0.3rem 0.25rem;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 10px;
  margin-left: 3px;
}
